@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Ubuntu", "Courier New";
  background-color: #aac6de;
}

.form-area:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

h1,
#message {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3em;
}

#message {
  height: 2em;
  font-size: 2em;
  border: none;
  border-radius: 0;
}

#text-input {
  margin-top: 20px;
  border: 2px solid black;
  min-height: 40px;
  min-width: 100px;
}

#translate-output {
  margin-top: 40px;
}

#translated-message {
  resize: none;
  background-color: white;
  outline: none;
  border: 2px solid black;
  border-radius: 0;
  font-size: 4em;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.row {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
